h1 {
    text-align: center;
    font-size: 5rem;

}

.PageHeaders {
    text-align: justify;
    font-size: 3rem;
    margin-left: 5rem;
    margin-top: 10rem;
    color: #812121;

}

.PageContent {
    text-align: justify;
    font-size: 2rem;
    margin-top: 5rem;
    margin-left: 8rem;
    margin-right: 50rem;
    background-color: #bda1a1;
    padding: 2rem;
}

.PageImages {
    float: right;
    margin-top: 3rem;
    margin-right: 15rem;
    scale: 2.0;
}

#DEBUG {
    border: 5px solid red;
    text-align: center;
    font-size: 12rem
}