
        h1 {
            color: rgb(255, 0, 0);
            font-size: 50px;
            background-color: rgb(0, 255, 0);
            border: 2px solid rgb(0, 0, 255);
        }


        #HeadingTest {
            color: rgb(0, 0, 245);
            font-size: 40px;
            background-color: yellow;
            border: 2px solid rgb(23, 149, 23);

        }

        .ClassTest {
            color: rgb(255, 0, 255);
            font-size: 30px;
            background-color: rgb(0, 255, 255);
            border: 2px solid rgb(255, 165, 0);
        }

        #MAIN {
            text-align: center;
            font-size: 3rem;
            margin-top: 2rem;
        }